<!DOCTYPE js>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <title>Document</title>
      <link href="./style.b7aaaaead0b8dffd3da6bfdca6e85d39.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="container">
         <div class="wrapper__container">
            <div class="header__wrapper">
               <a class="back_button mobile"><i class="fa fa-arrow-left"></i></a>
               <div class="img_wrap__header"><img class="tablet mobile" src="../imgs/logo.png" alt="logo"/><img class="pc" src="../imgs/logo_pc.png" alt="logo"/></div>
               <div class="nav_wrap__header pc tablet mobile">
                  <a class="hamburger_button tablet mobile"><i class="fa fa-bars"></i></a>
                  <div class="nav">
                     <ul>
                        <li><a href="#">Accueli</a></li>
                        <li><a href="#">Mon profil</a></li>
                        <li><a href="#">Mes paramédicaux</a></li>
                        <li><a href="">Ajouter une fiche</a></li>
                        <li><a href="">Paramètres</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="content__wrapper">
               <div class="left__content">
                  <h1 class="tablet">LES OSTÉOPATHES de ROUEN</h1>
                  <div class="form__left">
                     <div class="item__form"><label class="icon tablet"><i class="fa fa-stethoscope"></i></label><label>Votre paramédical</label><input type="text"/></div>
                     <div class="item__form"><label class="icon tablet"><i class="fa fa-map-marker"></i></label><label>Localisation</label><input type="text"/></div>
                     <div class="item_button__form"><a href="#">rechercher</a></div>
                     <div class="item__form tablet"><label class="notice">Je suis un paramédical</label></div>
                  </div>
               </div>
               <div class="right__content pc tablet mobile">
                  <div class="wrapper__right">
                     <div class="feed_element__right">
                        <a href="#"><img src="../imgs/01.png" alt="01"/></a>
                        <div class="media_body_1st__feed_element">
                           <strong>Frédéric Nietzsche</strong>
                           <div class="rating_star">
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                           </div>
                        </div>
                        <div class="media_body_2nd__feed_element">
                           <div class="small_info"><strong>28 place St Marc</strong><br/><strong>76 000 Rouen</strong></div>
                        </div>
                        <div class="media_body_3rd__feed_element"><a class="tablet" href="#">Plus d'avis</a><a class="mobile" href="#">Lire les avis</a></div>
                        <div class="media_body_4th__feed_element tablet pc">
                           <p><< Un spescialiste de qualite à 2 pas du centre-ville de Rouen. Je recommande ! >></p>
                        </div>
                        <div class="decoration"><label>Je note!</label></div>
                        <div class="marker_active"><i class="fa fa-star"></i></div>
                     </div>
                     <div class="feed_element__right">
                        <a href="#"><img src="../imgs/02.png" alt="01"/></a>
                        <div class="media_body_1st__feed_element">
                           <strong>Lucie Skewalkes</strong>
                           <div class="rating_star">
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                           </div>
                        </div>
                        <div class="media_body_2nd__feed_element">
                           <div class="small_info"><strong>28 place St Marc</strong><br/><strong>76 000 Rouen</strong></div>
                        </div>
                        <div class="media_body_3rd__feed_element"><a class="tablet" href="#">Plus d'avis</a><a class="mobile" href="#">Lire les avis</a></div>
                        <div class="media_body_4th__feed_element tablet pc">
                           <p><< Un très bon médecin mais un cabinet très sale et désordonné. Dommage >></p>
                        </div>
                        <div class="decoration"><label>Je note!</label></div>
                        <div class="marker_active"><i class="fa fa-star"></i></div>
                     </div>
                     <div class="feed_element__right">
                        <a href="#"><img src="../imgs/01.png" alt="01"/></a>
                        <div class="media_body_1st__feed_element">
                           <strong>Frédéric Nietzsche</strong>
                           <div class="rating_star">
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                           </div>
                        </div>
                        <div class="media_body_2nd__feed_element">
                           <div class="small_info"><strong>28 place St Marc</strong><br/><strong>76 000 Rouen</strong></div>
                        </div>
                        <div class="media_body_3rd__feed_element"><a class="tablet" href="#">Plus d'avis</a><a class="mobile" href="#">Lire les avis</a></div>
                        <div class="media_body_4th__feed_element tablet pc">
                           <p><< Un spescialiste de qualite à 2 pas du centre-ville de Rouen. Je recommande ! >></p>
                        </div>
                        <div class="decoration"><label>Je note!</label></div>
                        <div class="marker_active"><i class="fa fa-star"></i></div>
                     </div>
                     <div class="feed_element__right">
                        <a href="#"><img src="../imgs/02.png" alt="01"/></a>
                        <div class="media_body_1st__feed_element">
                           <strong>Lucie Skewalkes</strong>
                           <div class="rating_star">
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker active"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                              <div class="marker"><i class="fa fa-star"></i></div>
                           </div>
                        </div>
                        <div class="media_body_2nd__feed_element">
                           <div class="small_info"><strong>28 place St Marc</strong><br/><strong>76 000 Rouen</strong></div>
                        </div>
                        <div class="media_body_3rd__feed_element"><a class="tablet" href="#">Plus d'avis</a><a class="mobile" href="#">Lire les avis</a></div>
                        <div class="media_body_4th__feed_element tablet pc">
                           <p><< Un très bon médecin mais un cabinet très sale et désordonné. Dommage >></p>
                        </div>
                        <div class="decoration"><label>Je note!</label></div>
                        <div class="marker_active"><i class="fa fa-star"></i></div>
                     </div>
                  </div>
                  <div class="next_page__right mobile"><a href="#">Page suivante ></a></div>
               </div>
               <div class="right_map__content pc">
                  <div id="map"></div>
               </div>
            </div>
         </div>
      </div>
      <script>
		function initMap() {
	        var Rouen = {lat: 49.4369658, lng: 1.0996334};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 17,
	          center: Rouen
	        });
	        var marker = new google.maps.Marker({
	          position: Rouen,
	          map: map
	        });
	    }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdMPjxAoa4flXyGhNGGEi8uijo5x8e8pw&callback=initMap" async defer></script>
	<script type="text/javascript" src="./style.bundle.js"></script>
   </body>
</html>