.container
	.wrapper__container
		.header__wrapper
			a.back_button.mobile
				i.fa.fa-arrow-left
			.img_wrap__header
				img.tablet.mobile(src="../imgs/logo.png", alt="logo")
				img.pc(src="../imgs/logo_pc.png", alt="logo")
			.nav_wrap__header.pc.tablet.mobile
				a.hamburger_button.tablet.mobile
					i.fa.fa-bars
				.nav
					ul
						li
							a(href="#") Accueli
						li
							a(href="#") Mon profil
						li
							a(href="#") Mes paramédicaux
						li
							a(href="") Ajouter une fiche
						li
							a(href="") Paramètres
		.content__wrapper
			.left__content
				h1.tablet LES OSTÉOPATHES de ROUEN
				.form__left
					.item__form
						label.icon.tablet
							i.fa.fa-stethoscope
						label Votre paramédical
						input(type="text")
					.item__form
						label.icon.tablet
							i.fa.fa-map-marker
						label Localisation
						input(type="text")
					.item_button__form
						a(href="#") rechercher
					.item__form.tablet
						label.notice Je suis un paramédical
			.right__content.pc.tablet.mobile
				.wrapper__right
					.feed_element__right
						a(href="#")
							img(src="../imgs/01.png", alt="01")
						.media_body_1st__feed_element
							strong Frédéric Nietzsche
							.rating_star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker
									i.fa.fa-star
						.media_body_2nd__feed_element
							.small_info
								strong 28 place St Marc
								br
								strong 76 000 Rouen
						.media_body_3rd__feed_element
							a(href="#").tablet Plus d'avis
							a(href="#").mobile Lire les avis
						.media_body_4th__feed_element.tablet.pc
							p << Un spescialiste de qualite à 2 pas du centre-ville de Rouen. Je recommande ! >>
						.decoration
							label Je note!
						.marker_active
							i.fa.fa-star
					.feed_element__right
						a(href="#")
							img(src="../imgs/02.png", alt="01")
						.media_body_1st__feed_element
							strong Lucie Skewalkes
							.rating_star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker
									i.fa.fa-star
								.marker
									i.fa.fa-star
								.marker
									i.fa.fa-star
						.media_body_2nd__feed_element
							.small_info
								strong 28 place St Marc
								br
								strong 76 000 Rouen
						.media_body_3rd__feed_element
							a(href="#").tablet Plus d'avis
							a(href="#").mobile Lire les avis
						.media_body_4th__feed_element.tablet.pc
							p << Un très bon médecin mais un cabinet très sale et désordonné. Dommage >>
						.decoration
							label Je note!
						.marker_active
							i.fa.fa-star
					.feed_element__right
						a(href="#")
							img(src="../imgs/01.png", alt="01")
						.media_body_1st__feed_element
							strong Frédéric Nietzsche
							.rating_star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker
									i.fa.fa-star
						.media_body_2nd__feed_element
							.small_info
								strong 28 place St Marc
								br
								strong 76 000 Rouen
						.media_body_3rd__feed_element
							a(href="#").tablet Plus d'avis
							a(href="#").mobile Lire les avis
						.media_body_4th__feed_element.tablet.pc
							p << Un spescialiste de qualite à 2 pas du centre-ville de Rouen. Je recommande ! >>
						.decoration
							label Je note!
						.marker_active
							i.fa.fa-star
					.feed_element__right
						a(href="#")
							img(src="../imgs/02.png", alt="01")
						.media_body_1st__feed_element
							strong Lucie Skewalkes
							.rating_star
								.marker.active
									i.fa.fa-star
								.marker.active
									i.fa.fa-star
								.marker
									i.fa.fa-star
								.marker
									i.fa.fa-star
								.marker
									i.fa.fa-star
						.media_body_2nd__feed_element
							.small_info
								strong 28 place St Marc
								br
								strong 76 000 Rouen
						.media_body_3rd__feed_element
							a(href="#").tablet Plus d'avis
							a(href="#").mobile Lire les avis
						.media_body_4th__feed_element.tablet.pc
							p << Un très bon médecin mais un cabinet très sale et désordonné. Dommage >>
						.decoration
							label Je note!
						.marker_active
							i.fa.fa-star
				.next_page__right.mobile
					a(href="#") Page suivante >
			.right_map__content.pc
				#map




